
.git
.git/
.git/**
.git_backup
.git_backup/
.git_backup/**
**/.git
**/.git/**
**/.git_backup
**/.git_backup/**

data/



__pycache__
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.venv
.venv/
venv
venv/
env
env/

.ipynb_checkpoints
.DS_Store
Thumbs.db

*.pbix
*.pbit